Package: ctop
Version: 1.5
Architecture: amd64
Essential: no
Section: Applications
Priority: optional
Depends: libmx4j-java
Maintainer: devops@hailocab.com
Installed-Size: 1000
Description: C-TOP (Top for Cassandra)
